
<div class="form-wrap">
    <div class="login">
        
         <h1>Login</h1>
        <form>
        <label for="loginName">Username</label>
        <input type="text" id="loginName">
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword">
        </form>
   


  <div class="loginButton">Login</div>
  <div class="break"></div>
  <div class="RButton"> <a href="http://localhost:4200/register">Register</a></div>
<!-- </div>

   

    </div> -->
  </div>
