
<div class="Register">
<div class="login">
        
        <h1>Register</h1>
       <form>
       <label for="loginName">First Name</label>
       <input type="text" id="loginName">
       <label for="loginfullname">Last Name</label>
       <input type="text" id="loginName">
       <label for="loginfullname">Email</label>
       <input type="text" id="loginName">
       <label for="Password">Password</label>
       <input type="password" id="loginPassword">
       <label for="Password1">Password Agian</label>
       <input type="password" id="loginPassword1">
       <label for="User">User :</label>
       <select name = "dropdown">
            <option value = "Admin" >Admin</option>
            <option value = "Client"> Client </option>
            <option value = "Client"> Company </option>
         </select>
       </form>
  


 <div class="loginButton">Register</div>
 
</div>